body {
  background-color: palevioletred;
}

h1 {
  color: yellow;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: yellow;
}

/* button {
  background-color: blue;
} */
